@font-face {
  font-family: "iconfont"; /* Project id 3731052 */
  src: url('iconfont.woff2?t=1667382730836') format('woff2'),
       url('iconfont.woff?t=1667382730836') format('woff'),
       url('iconfont.ttf?t=1667382730836') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e8c4";
}

.icon-zhanweifu:before {
  content: "\e626";
}

.icon-wenjian:before {
  content: "\e600";
}

.icon-search:before {
  content: "\e623";
}

.icon-shouqicaidan:before {
  content: "\e622";
}

.icon-zhankaicaidan:before {
  content: "\e624";
}

.icon-lingdang:before {
  content: "\e652";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-tongxunlutianchong:before {
  content: "\e699";
}

.icon-api-fill:before {
  content: "\e86d";
}

.icon-quanxian:before {
  content: "\e656";
}

